config  RALINK_HWCRYPTO
	depends on (RALINK_MT7621 || RALINK_RT6XXX_MP || ECONET_EN75XX_MP)
	tristate "HW Crypto Engine support"
	default m

config RALINK_HWCRYPTO_ESP6
	bool "Offload ESP6 via Crypto Engine"
	depends on RALINK_HWCRYPTO
	depends on IPV6
	default n
