menu "NDM Systems options"

if !(RALINK_RT5350 || RALINK_MT7628)
menu "Ralink/MTK HW NAT"
source "ndm/Kconfig.ppe"
endmenu
endif
source "ndm/Kconfig.wifi"
source "ndm/Kconfig.usb"
source "ndm/Kconfig.crypto"
endmenu

