menu "MTK Wi-Fi driver for MT7628"

config MT7628_AP
	tristate "MT7628 SoC 802.11n AP support"

config MT_AP_SUPPORT
	bool
	default y
	depends on MT7628_AP

config NEW_RATE_ADAPT_SUPPORT
	bool "New adaption rate"
	default y
	depends on MT7628_AP

config AGS_SUPPORT
	bool "AGS support"
	default n
	depends on NEW_RATE_ADAPT_SUPPORT

config MT_MAC
	bool
	default y
	depends on MT7628_AP

config UAPSD
	bool "Unscheduled automatic power save delivery"
	default y
	depends on MT7628_AP

config SMART_CARRIER_SENSE_SUPPORT
	bool "Smart Carrier Sense"
	depends on MT7628_AP
	default y

config WSC_INCLUDED
	bool "WSC"
	default y
	depends on MT7628_AP

config WSC_V2_SUPPORT
	bool "WSC V2"
	depends on WSC_INCLUDED
	default y

config WMM_ACM_SUPPORT
	bool "WMM ACM"
	default n
	depends on MT7628_AP

config DOT11W_PMF_SUPPORT
	bool "802.11w PMF support"
	default y
	depends on MT7628_AP

config LLTD_SUPPORT
	bool "Link layer topology discovery"
	default n
	depends on MT7628_AP

config PASSPOINT_R2
	bool "Pass point R2"
	default n
	depends on MT7628_AP

config SNIFFER_SUPPORT
	bool "Sniffer support"
	default n
	depends on MT7628_AP

config IGMP_SNOOP_SUPPORT
	bool "IGMP snooping"
	default y
	depends on MT7628_AP

config BLOCK_NET_IF
	bool "Block a network interface while a TX queue is full"
	default n
	depends on MT7628_AP

config SINGLE_SKU
	bool "Single SKU V2"
	default n
	depends on MT7628_AP

config LED_CONTROL_SUPPORT
	bool "LED control"
	default y
	depends on MT7628_AP

config QOS_DLS_SUPPORT
	bool "QoS DLS"
	default n
	depends on MT7628_AP

config MBSS_SUPPORT
	bool "MBSS support"
	default y
	depends on MT7628_AP

config NEW_MBSSID_MODE
	bool "New MBSSID mode"
	default y
	depends on MBSS_SUPPORT

config ENHANCE_NEW_MBSSID_MODE
	bool "Enchance new MBSSID mode"
	default y
	depends on NEW_MBSSID_MODE

config APCLI_SUPPORT
	bool "ApCli support"
	default y
	depends on MT7628_AP

config MAC_REPEATER_SUPPORT
	bool "MAC repeater support"
	default n
	depends on APCLI_SUPPORT

config IDS_SUPPORT
	bool "Intrusion detection system"
	default n
	depends on MT7628_AP

config ATE_SUPPORT
	bool "ATE support"
	default n
	depends on MT7628_AP

config WIFI_DEBUG_SUPPORT
	bool "Debug mode support"
	default n
	depends on MT7628_AP

config MEMORY_OPTIMIZATION
	bool "Enable memory optimization"
	default y
	depends on MT7628_AP

config RTMP_FLASH_SUPPORT
	bool "RTMP flash support"
	default y
	depends on MT7628_AP

config RTMP_EFUSE_SUPPORT
	bool "RTMP eFUSE support"
	default n
	depends on MT7628_AP

config RTMP_TEMPERATURE_TX_ALC
	bool "Temperature TX ALC"
	default n
	depends on MT7628_AP

config RTMP_INTERNAL_TX_ALC
	bool "Internal TX ALC"
	default n
	depends on MT7628_AP

endmenu

